* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #bfdbfe;
}
.board-container {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 8px;
}

.board-box {
    background-color: #2563eb;
    color: #dbeafe;
    font-size: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.restart-div {
    width: 80px;
    height: 25px;
}

.restart-btn {
    margin-top: 35px;
    width: 80px;
    height: 25px;
    display: none;
}

.header {
    width: 500px;
    margin-bottom: 15px;
}

.game-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.65em;
}

.footer {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 15px;
    font-size: 1.35em;
}

.marker-indicator {
    font-weight: bolder;
}

.player-one-marker {
    color: #16a34a;
}

.player-two-marker {
    color: #9333ea;
}

.footer-box {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 5px 10px;
    min-width: 150px;
    text-align: center;
}

.player-one-box {
    background-color: #14b8a6;
}

.tie-box {
    background-color: #d1d5db;
}

.player-two-box {
    background-color: #a855f7;
}